/* Formulário  */
.options{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo do input */
.options input{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    font-size: medium;
    text-align: center;
    outline: 0;
    opacity: 0.8;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    /* Animação de foco */
}.options input:focus{
    opacity: 1;
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: all 500ms ease-in-out;
}

/* Conteiner do checkbox com label  */
.checkbox{
    display: flex;
    gap: 5px;
    width: max-content;
    flex-direction: row-reverse;
    text-align: center;
    margin: 0 auto;
}

/* Estilo do input  */
.checkbox input{
    display: none;
}
/* Estilo label  */
.checkbox label{
    border-radius: 8px;
    border: 1px solid red;
    padding: 8px 15px;
    width: max-content;
    font-size: small;
    font-weight: bold;
    /* Animação de input checkado  */
}.checkbox input:checked ~ label{
    transition: all 500ms;
    border-color: green;
}

/* Estilo dos Botões  */
.options button{
    border: 1px solid white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px white;
    filter: drop-shadow();
    font-weight: 900;
    font-size: large;
    margin: 5px auto;
    padding: 5px 10px;
    width: max-content;
    /* Animação de arrastar  */
}.options button:hover{
    transition: all 700ms ease-in-out;
    box-shadow: 0px 0px 10px 2px white;
}

.options button:nth-child(2){
    background: none;
    color: white;
}